## Ignore build files
build/
devel/
logs/
.catkin_tools/

## Ignore camera calibration files
# /src/nubot/omni_vision/calib_results/*

## Ignore PID parameters
# /src/nubot/nubot_hwcontroller/cfg/controller.cfg

CMakeLists.txt.*
*~
*.tar.gz
